.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 150px 0px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  max-width: 100%;
  margin: 0 auto; 
}

.home-container a {
  text-decoration: none;
  color: inherit;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 95%;
  gap: 20px;
}



.home-title {
  font-size: 60px;
  font-weight: 500;  
}

.home-subtitle {
  font-size: 18px;
  font-weight: 100;
  line-height: 30px; 
  
}

.home-img {
  display: flex;
  justify-content: flex-start;
  margin-left: 150px;
}

.home-img > img {
  
  align-items: center;
}



.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  max-width: 60%;
  height: 70vh;
}

.about-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.about-img {
  display: flex;
  justify-content: flex-end;
}


.about-content {
  display: flex;
}

.about-content a {
  text-decoration: none;
  color: inherit;
}

.about-font {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.portfolio-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-top: 200px;
  margin-bottom: 200px;
}

.portfolio-row {
  width: 100%;
  margin: 0 auto;
}
.portfolio-card {
  width: 400px;
  gap: 20px;
}
.portfolio-card a {
  text-decoration: none;
  color: inherit;
}


